<div class="edit-container">
    <div class="wrapper">
        <h2>Edit profile</h2>
        <form #form="ngForm" (submit)="editForm(form.value)">
            <div class="input-box">
                <input type="file" placeholder="Uplode New Pick" ngModel name="image" (change)="onEditImageChange($event)" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Description"name="Description" ngModel  required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="User Name" ngModel name="username" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Phone NO" ngModel name="phone" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Name" ngModel name="name" required>
            </div>

            <div class="input-box">
                <input type="text" placeholder="gender" ngModel name="gender" required>
            </div>
            <div class="input-box">
                <input type="date" placeholder="date of birth" ngModel name="dob" required>
            </div>
    
            <div class="input-box button">
                <input type="submit" value="Register Now">
            </div>
        </form>
    </div>
</div>