<div class="allPost">
    

    <div class="blog-post">
        <div class="blog-img">
            <img src="../../../../../assets/images/thumb.png" alt="">
        </div>
        <div class="blog-content">
            <div class="blog-author">
                <img src="../../../../../assets/images/1.png" alt="">
                <a href="#">Clara Sprankle</a>
            </div>
            <div class="content-box">
                <h1>Aren't you wasting yourself on social media?</h1>
                <p>There is no denying the importance of social media in daily life. Not only communication, but its
                    impact in many other ndn. Social media is now just a name for communication, learning to earning -
                    all possible on the same platformaasa sss s sasa dadadadadad dada dad dada ,adada sssssssssssssssssssssssssssssssss, ssssssssssssssssssssssss.</p>
            </div>
            <div class="icon-box">
                <a href="#"><i class="bx bx-bookmark"></i>save</a>
                <a href="#"><i class="bx bx-heart"></i>like</a>
            </div>
        </div>
    </div>
</div>