<div class="bott">
    <div class="navbar">
        <div class="effect"></div>
            
            <button routerLink="uhome" class="active">
                <i class="bx bx-home"></i>
            </button>
            
            <button routerLink="followers">
                <i class="bx bx-user"></i>
            </button>
            
            <button routerLink="newPost" class="plus">
                <i class="bx bx-plus"></i>
            </button>
            
            <button routerLink="profile">
                <i class="bx bx-user-circle"></i>
            </button>
            
            <button routerLink="settings">
                <i class="bx bx-cog"></i>
            </button>
    </div>
</div>
