<div class="settings-head">
    Settings & Tools
</div>

<div class="settings-box">
    <div   routerLink="/userhome/editProfile" class="sub-box"> <span class="material-symbols-outlined">
        edit_document
    </span> Edit Profile</div>

    <div  class="sub-box"> <span class="material-symbols-outlined">
        lock_reset
    </span> Change Password</div>

    <div  routerLink="/userhome/bookmark" class="sub-box"> <span class="material-symbols-outlined">
        Bookmarks
    </span> Bookmark</div>

    <div routerLink="/userhome/notifications" class="sub-box"> <span class="material-symbols-outlined">
        notifications
    </span> Notification</div>

    <div class="sub-box"> <span class="material-symbols-outlined">
        logout
    </span> log out</div>




</div>